<mat-card class="editcard">
  <mat-card-header>
    <mat-card-title>Edit Entry</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>First Name</mat-card-subtitle>
    <input [(ngModel)]="entry.firstName" id="firstNameInput" (keyup)="setSubmit()" type="text" required>
    <mat-card-subtitle>Last Name</mat-card-subtitle>
    <input [(ngModel)]="entry.lastName" id="lastNameInput" (keyup)="setSubmit()" type="text" required>
    <mat-card-subtitle>Number</mat-card-subtitle>
    <input [(ngModel)]="entry.number" id="numberInput" (keyup)="setSubmit()" type="text" required>
    <div id="errNumber" class="" role="alert" hidden>Number format should be: +12 34 5678910</div>
    <div id="errInputs" class="" role="alert" hidden>All fields are required.</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-dialog-close mat-button id="submit" (click)="editEntry()" value="Submit" disabled>Submit</button>
  </mat-card-actions>
</mat-card>
